@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Set default font */
  
}

/* General Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Hero Text Styles */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  z-index: 10; 
}

/* Width and Margin Utilities */
.w-80 {
  width: 20rem; 
}

.m-4 {
  margin: 1rem; 
}

/* Company Overview and Album Layout */

.company-overview {
  flex: 1; 
  padding-left: 0; 
  
}

.album img {
  border: 2px solid #4a5568; 
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  height: auto; 
}

.album button {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: rgba(255, 255, 255, 0.7); 
  border: none; 
  padding: 0.5rem; 
  cursor: pointer; 
  font-size: 24px; 
  z-index: 1; 
}

.album button:first-of-type {
  left: -30px; 
}

.album button:last-of-type {
  right: -30px; 
}


/* Header Styles */


/* Navigation Styles */
nav {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
}

nav a {
  color: #333; 
  text-decoration: none; 
  padding: 0.5rem 1rem; 
}

nav a:hover {
  color: #007BFF; 
}

/* Company Logo Styles */
.logo {
  display: flex;
  align-items: center; 
}

.logo img {
  height: 40px; 
  margin-right: 10px; 
}



