@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Set default font */
  
}

/* General Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Hero Text Styles */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  z-index: 10; 
}

/* Width and Margin Utilities */
.w-80 {
  width: 20rem; 
}

.m-4 {
  margin: 1rem; 
}

/* Company Overview and Album Layout */

.company-overview {
  flex: 1; 
  padding-left: 0; 
  
}

.album img {
  border: 2px solid #4a5568; 
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  height: auto; 
}

.album button {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: rgba(255, 255, 255, 0.7); 
  border: none; 
  padding: 0.5rem; 
  cursor: pointer; 
  font-size: 24px; 
  z-index: 1; 
}

.album button:first-of-type {
  left: -30px; 
}

.album button:last-of-type {
  right: -30px; 
}




/* Transition Effects */
.transition-opacity {
  transition: opacity 0.3s ease; 
}

/* Hover Effects for Team Member LinkedIn Overlay */
.group:hover .group-hover\:bg-opacity-60 {
  background-color: rgba(0, 0, 0, 0.6); /* Background color on hover */
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1; /* Show overlay on hover */
}

/* Header Styles */
header {
  position: relative; /* Keep the header relative */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 1rem 2rem; /* Padding for header */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between logo and nav links */
  z-index: 10; /* Ensure header appears above other content */
}

/* Navigation Styles */
nav {
  flex-grow: 1; /* Allow nav to take up available space */
  display: flex;
  justify-content: center; /* Center the navigation links */
}

nav a {
  color: #333; /* Link color */
  text-decoration: none; /* Remove underline */
  padding: 0.5rem 1rem; /* Padding for links */
}

nav a:hover {
  color: #007BFF; /* Change color on hover */
}

/* Company Logo Styles */
.logo {
  display: flex;
  align-items: center; /* Center logo items vertically */
}

.logo img {
  height: 40px; /* Adjust logo size */
  margin-right: 10px; /* Space between logo and text */
}

